@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh; /* Full viewport height */
  width: 100%;
}

.returns-policy {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.returns-policy h1,
h2 {
  color: #333;
}

.returns-policy p,
ol {
  line-height: 1.6;
  color: #555;
}

.returns-policy a {
  color: #007bff;
  text-decoration: none;
}

.returns-policy a:hover {
  text-decoration: underline;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Scrollbar styles for a professional look */
::-webkit-scrollbar {
  width: 8px; /* Slimmer width for a more modern look */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 4px; /* Subtle rounded corners */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Medium grey for the handle */
  border-radius: 4px; /* Matching border radius */
  border: 2px solid #f1f1f1; /* Border to create a "floating" effect */
  cursor: pointer; /* Added cursor: pointer; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker grey on hover for better contrast */
  cursor: pointer; /* Added cursor: pointer; */
}

/* Ensure consistency across browsers */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f1f1f1; /* For Firefox */
}
